@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 37 33 49;
    --color-heading: 244 245 248;
    --color-content: 217 217 217;
    --color-accent1: 180 65 100;
    --color-accent2: 151 71 255;
    --color-accent3: 58 90 215;
    --color-glass: 25 22 33;
  }

  h1 {
    font-weight: 700;
    font-size: clamp(40px, 8vw, 96px);
  }
  h2 {
    font-weight: 700;
    font-size: clamp(32px, 8vw, 64px);
  }
  h3 {
    font-weight: 700;
    font-size: clamp(28px, 8vw, 40px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 45px;
}

@media only screen and (min-width: 768px) {
  html {
    scroll-padding-top: 72px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

::selection {
  @apply bg-gray text-redberry;
}

/* Hover Effects */
.hoverSmoothScale {
  @apply transition-all duration-300 ease-out hover:scale-105;
}

/* Navbar Section */
.navbar--scrolled {
  @apply bg-blackberry shadow-lg;
}
.navbar--scrolled .navbar-logo {
  @apply text-slate-500  hover:text-secondary-red;
}
.navbar--scrolled span {
  @apply w-0;
}

.navbar-logo {
  @apply w-fit text-4xl font-black text-secondary-red;
}

.navbar-socials {
  @apply hidden flex-row items-center justify-center gap-2 lg:flex lg:justify-start;
}

.navbar-mobile {
  @apply relative bottom-0 right-0 top-0 lg:hidden;
}
.navbar-mobile__background {
  @apply absolute -right-12 -top-6 bottom-0 h-[110vh] w-[100vh] bg-rose-50 md:w-[300px];
}
.navbar-mobile__toggle {
  @apply absolute inset-0 z-20 cursor-pointer border-none bg-transparent outline-none;
}

.navbar-mobile__body--open {
  @apply absolute bottom-0 right-0 top-0 flex w-full flex-col gap-5 px-4 pb-1 pt-2 md:w-[300px] md:px-8 md:pb-0 md:pt-[5px] lg:!hidden;
}
.navbar-mobile__body--closed {
  @apply absolute -right-[500px] bottom-0 top-0 flex w-full flex-col gap-5 px-4 pb-1 pt-2 transition-all delay-1000 md:w-[300px] md:px-8 md:pb-0 md:pt-[5px] lg:!hidden;
}

.navbar-mobile__links {
  @apply flex w-full flex-col gap-6 text-center text-black-1 lg:hidden;
}
.navbar-mobile__link {
  @apply w-full;
}
.navbar-mobile__socials {
  @apply flex flex-row items-center justify-center gap-2 lg:justify-start;
}

/* Hero Section  */

.hero__portrait {
  @apply z-10 flex aspect-square w-[80%] items-center justify-center overflow-hidden rounded-full shadow-lg brightness-125 md:w-[30%];
}

.hero__headline {
  @apply z-20 flex w-[90%] shrink-0 flex-col items-center justify-center gap-4 text-center md:w-[50%] md:items-start;
}

.hero__headline__buttons {
  @apply flex w-full items-center justify-center gap-4 md:justify-start;
}

.hero__squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(180, 0, 65, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.hero__squares li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.hero__squares li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.hero__squares li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.hero__squares li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.hero__squares li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.hero__squares li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.hero__squares li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.hero__squares li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.hero__squares li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.hero__squares li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Services Section  */
.services__background {
  @apply pointer-events-none absolute -z-0 opacity-50;
}

/* Service Cards Component */
.service-cards {
  @apply flex w-full flex-col flex-wrap items-center gap-2 md:flex-row md:gap-8;
}

/* Service Card Component */
.service-card {
  @apply hoverSmoothScale relative z-20 row-span-2 mb-4 flex w-full flex-col gap-2 overflow-hidden rounded-2xl bg-white p-6 shadow-lg hover:text-secondary-red hover:shadow-lg md:min-h-[280px] md:max-w-[230px];
}
.service-card__icon {
  @apply text-secondary-red;
}
.service-card__title {
  @apply text-left text-lg font-bold capitalize text-black group-hover:text-secondary-red first:group-hover:text-white md:whitespace-pre;
}
.service-card__description {
  @apply text-left text-xs font-medium normal-case text-neutral-800;
}
.service-card__shadow {
  @apply absolute -right-[150px] -top-[20px] z-10 aspect-square w-[180px] -rotate-45 bg-white opacity-20 brightness-75;
}

.service-card:first-child {
  @apply bg-secondary-red;
}
.service-card:first-child .service-card__icon {
  @apply text-white;
}
.service-card:first-child .service-card__title {
  @apply text-white;
}
.service-card:first-child .service-card__description {
  @apply text-white;
}
.service-card:first-child .service-card__shadow {
  @apply !bg-white !opacity-100 brightness-100;
}
