@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 45px;
}

@media only screen and (min-width: 768px) {
  html {
    scroll-padding-top: 72px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

::selection {
  @apply text-secondary-red bg-white;
}

/* Flex Shortcuts */
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

/* All Sections */
.sectionOverline,
.sectionHeading,
.sectionHeading-2,
.sectionHeading-3,
.sectionLeading,
.sectionDescription {
  @apply block text-left w-full;
}

.sectionOverline,
.sectionOverline-2 {
  @apply text-secondary-red font-extrabold uppercase;
}
.sectionOverline {
  @apply text-sm;
}

.sectionOverline-2 {
  @apply text-xs;
}

.sectionHeading {
  @apply font-bold text-3xl capitalize;
}

.sectionHeading-2 {
  @apply font-bold text-xl capitalize;
}

.sectionHeading-3 {
  @apply font-bold text-lg capitalize;
}

.sectionLeading {
  @apply font-semibold text-base text-neutral-900 normal-case;
}

.sectionDescription {
  @apply font-medium text-sm text-neutral-800 normal-case text-left;
}

.section-padding__x-axis {
  @apply px-[10px] md:px-[100px];
}

.section-padding__y-axis {
  @apply py-[50px];
}

.sectionTitle {
  @apply flex;
}

.sectionSubtitle {
  @apply flex;
}

.cta__solid,
.cta__outline {
  @apply flex w-fit items-center justify-center text-sm font-extrabold py-2 px-6 rounded-full gap-2 text-center;
}

.cta__solid {
  @apply bg-secondary-red  text-white hover:bg-accent-pink;
}

.cta__outline {
  @apply bg-transparent text-slate-300 border border-slate-300 hover:text-secondary-red hover:border-secondary-red;
}

/* Hover Effects */
.hoverSmoothScale {
  @apply hover:scale-105 duration-300 ease-out transition-all;
}

/* Navbar Section */
.navbar {
  @apply flex items-center justify-center pt-2 pb-1 md:pt-[5px] md:pb-0 px-6 md:px-12 w-full fixed top-0 left-0 !z-40 text-slate-500 overflow-hidden;
}

.navbar__scrolled {
  @apply shadow-lg bg-white;
}

.navbar-desktop {
  @apply flex justify-between items-center gap-10 md:gap-16 w-screen lg:max-w-screen-xl;
}

.navbar__logo {
  @apply text-4xl font-black text-secondary-red w-[140px];
}

.navbar-desktop__links {
  @apply hidden lg:flex flex-row gap-4;
}

.navbar-mobile__links {
  @apply flex flex-col w-full text-black-1 gap-4 text-center;
}

.navbar-desktop__link {
  @apply px-4 py-3 my-3 font-bold text-sm hover:text-secondary-red target:text-secondary-red capitalize block w-full;
}

.navbar-mobile__top {
  @apply flex w-full justify-between items-center pt-2 pb-1 px-6;
}

.navbar-mobile__toggle {
  @apply lg:hidden flex flex-row gap-10;
}

.navbar-mobile--open,
.navbar-mobil--closed {
  @apply overflow-hidden flex flex-col items-center gap-8 bg-white w-full h-full fixed lg:hidden z-50 ease-in-out duration-500;
}

.navbar-mobile--open {
  @apply top-0 left-0;
}

.navbar-mobile--closed {
  @apply top-0 left-[-100%];
}

/* Hero Section  */
.hero {
  @apply flex flex-col lg:flex-row justify-center items-center gap-[40px] lg:gap-[50px] h-[100vh] max-h-[800px] max-w-screen-xl section-padding__x-axis section-padding__y-axis relative overflow-hidden;
}

.hero__portrait {
  @apply w-[80%] md:w-[30%] aspect-square flex items-center justify-center rounded-full overflow-hidden z-10;
}

.hero__headline {
  @apply flex flex-col w-[90%] md:w-[50%] gap-4 text-center justify-center items-center lg:items-start shrink-0 z-20;
}

.hero__headline__buttons {
  @apply flex w-full gap-4 items-center justify-center lg:justify-start;
}

.hero__squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(180, 0, 65, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.hero__squares li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.hero__squares li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.hero__squares li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.hero__squares li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.hero__squares li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.hero__squares li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.hero__squares li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.hero__squares li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.hero__squares li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.hero__squares li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Services Section  */
.services {
  @apply flexCenter flex-col lg:flex-row gap-[50px] lg:gap-[100px] md:max-h-[1000px] relative w-full max-w-screen-xl;
}

.servicesContent,
.servicesCards {
  @apply flex flex-col z-10;
}

.servicesContent {
  @apply w-[90%] sm:w-[280px] gap-[12px] shrink-0;
}

.servicesCards {
  @apply w-[95%] flex flex-col sm:flex-row lg:w-[50%] gap-[30px] justify-center text-center;
}

.servicesCardsCol {
  @apply flex flex-col gap-[30px] w-full sm:w-fit;
}

.servicesBackground {
  @apply absolute pointer-events-none -z-0 opacity-50;
}

/* About Me Section */
.portraitCard {
  @apply w-[300px] h-[450px] relative transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)] md:-rotate-12 self-center z-10;
}

.portraitCard__front,
.portraitCard__back {
  @apply absolute inset-0 w-full h-full p-4 flex flex-col rounded-md shadow-md items-center;
}

.portraitCard__front {
  @apply bg-white text-black-1 justify-between [backface-visibility:hidden];
}

.portraitCard__back {
  @apply bg-black-1 text-white justify-center [transform:rotateY(180deg)];
}

/* Technologies Section  */
.technologies {
  @apply bg-secondary-red w-full flex flex-col md:flex-row gap-[50px] justify-between items-center bg-opacity-60;
}

.technologiesCardGrid {
  @apply w-[90%] md:w-full grid grid-cols-3 lg:grid-cols-4 gap-x-2 gap-y-[30px] md:gap-[50px] place-items-center;
}

.technologiesCard {
  @apply w-[110px] h-[160px] relative transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)] md:-rotate-12 self-center;
}

.technologiesCard__front,
.technologiesCard__back {
  @apply absolute inset-0 w-full h-full p-4 flex flex-col rounded-md shadow-md items-center;
}

.technologiesCard__front {
  @apply bg-white text-black-1 justify-between [backface-visibility:hidden];
}

.technologiesCard__back {
  @apply bg-black-1 text-white justify-center [transform:rotateY(180deg)];
}

/* WorkFlow Section  */
.workflow {
  @apply w-full flexCenter flex-col;
}

/* WorkExperience Section  */

/* Grid Component */
.gridSquare {
  @apply w-full rounded-2xl shadow-lg overflow-hidden border border-neutral-300;
}

.gridSquare__small,
.gridSquare__big {
  @apply aspect-square;
}

.gridSquare__tall {
  @apply row-span-2;
}

.gridSquare__long {
  @apply col-span-2;
}

.gridSquare__big {
  @apply col-span-2 row-span-2;
}

.gridImage {
  @apply hover:scale-110 ease-in-out duration-500 transition-all;
}

/* Projects Component */
.projectsList {
  @apply flex flex-col flex-wrap gap-8 md:gap-24 snap-proximity snap-y max-w-screen-xl;
}

.projectItem {
  @apply flex flex-col lg:flex-row rounded-2xl gap-2 lg:gap-10 relative w-full odd:lg:flex-row-reverse odd:lg:gap-0 odd:lg:pr-10 border-b-2 border-b-secondary-red odd:lg:border-l-2 odd:lg:border-l-secondary-red even:lg:border-r-2 even:lg:border-r-secondary-red snap-center shrink-0 shadow-lg bg-white;
}

.projectItem__right {
  @apply flex flex-col w-full h-fit lg:w-[60%];
}

.projectThumbnails {
  @apply flex flex-col lg:flex-row relative w-full h-full;
}

.projectThumbnailDesktop {
  @apply flex flex-col w-full h-full rounded-2xl shadow-md overflow-hidden cursor-pointer;
}

.projectThumbnailMobile {
  @apply hidden md:flex relative cursor-pointer;
}

.projectThumbnailMobile > div {
  @apply invisible lg:visible lg:flex min-h-[280px] max-h-[230px] w-[130px] md:h-auto rounded-2xl shadow-md overflow-hidden z-20 border-2 border-black absolute -bottom-6 -right-8 hover:scale-110;
}

.projectThumbnail__external-link {
  @apply text-white absolute bottom-4 left-4 cursor-pointer;
}

.projectDetails {
  @apply flex flex-col justify-center items-center lg:items-start gap-4 py-6 px-6 md:px-8 w-full lg:w-[40%] rounded-2xl text-center lg:text-left;
}

/* Projects Component */

/* Featured Projects Component */
.featured-projects {
  @apply w-full max-w-screen-xl flex flex-col gap-8;
}
.featured-projects__map {
  @apply w-full grid grid-cols-1 gap-12;
}

/* Featured Projects Card Component */
.featured-projects-card {
  @apply w-full h-fit rounded-2xl overflow-hidden shadow-lg flex flex-col lg:flex-row lg:even:flex-row-reverse items-center;
}

.featured-projects-card__images {
  @apply w-full aspect-16/11 overflow-hidden rounded-2xl;
}
.featured-projects-card__image-desktop {
  @apply w-full;
}
.featured-projects-card__image-mobile {
  @apply w-full;
}
.featured-projects-card__images {
  @apply w-full;
}

.featured-projects-card__details {
  @apply w-full lg:w-3/5 p-4 rounded-2xl h-fit flex flex-col gap-4;
}
.featured-projects-card__details-title {
  @apply block text-left w-full text-2xl font-bold capitalize;
}
.featured-projects-card__details-subtitle {
  @apply block text-left w-full text-xs text-secondary-red font-bold uppercase;
}
.featured-projects-card__details-description {
  @apply text-sm text-black font-medium text-justify lg:text-left normal-case;
}
.featured-projects-card__details-tags {
  @apply flex gap-1 w-full h-full flex-wrap line-clamp-3;
}
.featured-projects-card__details-tag {
  @apply flex justify-center items-center text-xs py-1 px-3 text-slate-600 border border-solid border-slate-300 rounded-full font-medium capitalize;
}
.featured-projects-card__details-links {
  @apply flex flex-row flex-wrap items-center gap-4 w-full;
}
.featured-projects-card__details-link {
  @apply flex flex-row gap-2 justify-center items-center hover:text-secondary-red capitalize text-xs;
}

/* Other Projects Component */
.other-projects {
  @apply w-full max-w-screen-xl flex flex-col gap-8;
}
.other-projects__map {
  @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6;
}

/* Other Projects Card Component */
.other-projects-card {
  @apply w-full h-fit rounded-2xl overflow-hidden shadow-lg;
}

.other-projects-card__images {
  @apply w-full aspect-16/11 overflow-hidden rounded-2xl;
}

.other-projects-card__image-desktop {
  @apply w-full;
}

.other-projects-card__image-mobile {
  @apply w-full;
}

.other-projects-card__images {
  @apply w-full;
}

.other-projects-card__details {
  @apply w-full p-4 rounded-2xl h-fit flex flex-col gap-4;
}

.other-projects-card__details-title {
  @apply block text-left w-full text-2xl font-bold capitalize;
}

.other-projects-card__details-subtitle {
  @apply block text-left w-full text-xs text-secondary-red font-bold uppercase;
}

.other-projects-card__details-description {
  @apply text-sm text-black font-medium text-justify lg:text-left normal-case line-clamp-3;
}

.other-projects-card__details-tags {
  @apply flex gap-1 w-full h-full flex-wrap line-clamp-3;
}

.other-projects-card__details-tag {
  @apply flex justify-center items-center text-xs py-1 px-3 text-slate-600 border border-solid border-slate-300 rounded-full font-medium capitalize;
}

.other-projects-card__details-links {
  @apply flex flex-row flex-wrap items-center gap-4 w-full;
}

.other-projects-card__details-link {
  @apply flex flex-row gap-2 justify-center items-center hover:text-secondary-red;
}

/* Testimonials Section  */
.testimonials {
  @apply flexCenter flex-col gap-[50px] text-center;
}

/* Contact Component */
.inputField,
.textArea {
  @apply bg-white;
}

.inputField {
  @apply border-b border-black-1 p-3 w-full focus:placeholder:italic outline-none rounded-t-md focus:bg-white;
}

.textArea {
  @apply h-[190px] resize-none;
}

/* Components */
.serviceCard,
.serviceCard__black,
.serviceCard__red,
.serviceCard__image {
  @apply hoverSmoothScale flex flex-col w-full md:max-w-[230px] md:min-h-[280px] justify-center p-6 rounded-2xl overflow-hidden row-span-2 shadow-lg z-10 relative bg-white;
}

.serviceCard > div,
.serviceCard__black > div,
.serviceCard__red > div {
  @apply mb-4;
}

.serviceCard > h1,
.serviceCard__black > h1,
.serviceCard__red > h1 {
  @apply sectionHeading-3;
}

.serviceCard > p,
.serviceCard__black > p,
.serviceCard__red > p {
  @apply sectionDescription;
}

.serviceCard__black,
.serviceCard__red {
  @apply hover:shadow-lg;
}

.serviceCard__black > div,
.serviceCard__red > div {
  @apply text-white;
}

.serviceCard__black > h1,
.serviceCard__red > h1 {
  @apply text-white;
}

.serviceCard__black > p,
.serviceCard__red > p {
  @apply text-white;
}

.serviceCard {
  @apply hover:text-secondary-red;
}

.serviceCard__black {
  @apply bg-neutral-800;
}

.serviceCard__red {
  @apply bg-secondary-red;
}

.serviceCard > div {
  @apply text-secondary-red;
}

.serviceCard > p {
  @apply text-slate-500;
}

.serviceCard__red > div.serviceCard__shadow {
  @apply !bg-white !opacity-100 brightness-100;
}

.serviceCard__image {
  @apply bg-home-texture bg-center bg-cover bg-no-repeat;
}

.serviceCard__image > div {
  @apply hidden;
}

.serviceCard__image > h1 {
  @apply hidden;
}

.serviceCard__image > p {
  @apply hidden;
}

.serviceCard__shadow {
  @apply brightness-75 w-[180px] aspect-square absolute -top-[20px] -right-[150px] bg-white z-10 opacity-20 -rotate-45;
}

/* Contact Component */
.contactCard {
  @apply flex flex-row items-center gap-2 lg:gap-4 text-left justify-center;
}

.contactCard__extra {
  @apply flex;
}

.contactCard__text {
  @apply flex flex-col;
}

.contactCard__title {
  @apply font-bold text-sm;
}

.contactCard__info {
  @apply text-xs;
}

/* Footer Section */

/* Extra Components */
