@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 37 33 49;
    --color-heading: 244 245 248;
    --color-content: 217 217 217;
    --color-accent1: 180 65 100;
    --color-accent2: 151 71 255;
    --color-accent3: 58 90 215;
    --color-glass: 25 22 33;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 45px;
}

@media only screen and (min-width: 768px) {
  html {
    scroll-padding-top: 72px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

::selection {
  @apply bg-gray text-redberry;
}

/* Flex Shortcuts */
.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexStart {
  @apply flex items-center justify-start;
}

/* All Sections */
.sectionOverline,
.sectionHeading,
.sectionHeading-2,
.sectionHeading-3,
.sectionLeading,
.sectionDescription {
  @apply block w-full text-left;
}

.sectionOverline,
.sectionOverline-2 {
  @apply font-extrabold uppercase text-secondary-red;
}
.sectionOverline {
  @apply text-sm;
}

.sectionOverline-2 {
  @apply text-xs;
}

.sectionHeading {
  @apply text-3xl font-bold capitalize;
}

.sectionHeading-2 {
  @apply text-xl font-bold capitalize;
}

.sectionHeading-3 {
  @apply text-lg font-bold capitalize;
}

.sectionLeading {
  @apply text-base font-semibold normal-case text-neutral-900;
}

.sectionDescription {
  @apply text-left text-sm font-medium normal-case text-neutral-800;
}

.section-padding__x-axis {
  @apply px-[10px] md:px-[50px] lg:px-[100px];
}

.section-padding__y-axis {
  @apply py-[50px];
}

.sectionHeader {
  @apply w-full;
}

.sectionTitle {
  @apply flex;
}

.sectionSubtitle {
  @apply flex;
}

.cta__solid,
.cta__outline {
  @apply flex w-fit items-center justify-center gap-2 rounded-full px-6 py-3 text-center text-sm font-extrabold;
}

.cta__solid {
  @apply bg-secondary-red  text-white hover:bg-accent-pink;
}

.cta__outline {
  @apply border border-slate-300 bg-transparent text-slate-300 hover:border-secondary-red hover:text-secondary-red;
}

/* Hover Effects */
.hoverSmoothScale {
  @apply transition-all duration-300 ease-out hover:scale-105;
}

/* Navbar Section */
.navbar--scrolled {
  @apply bg-blackberry shadow-lg;
}
.navbar--scrolled .navbar-logo {
  @apply text-slate-500  hover:text-secondary-red;
}
.navbar--scrolled span {
  @apply w-0;
}

.navbar-logo {
  @apply w-fit text-4xl font-black text-secondary-red;
}

.navbar-socials {
  @apply hidden flex-row items-center justify-center gap-2 lg:flex lg:justify-start;
}

.navbar-mobile {
  @apply relative bottom-0 right-0 top-0 lg:hidden;
}
.navbar-mobile__background {
  @apply absolute -right-12 -top-6 bottom-0 h-[110vh] w-[100vh] bg-rose-50 md:w-[300px];
}
.navbar-mobile__toggle {
  @apply absolute inset-0 z-20 cursor-pointer border-none bg-transparent outline-none;
}

.navbar-mobile__body--open {
  @apply absolute bottom-0 right-0 top-0 flex w-full flex-col gap-5 px-4 pb-1 pt-2 md:w-[300px] md:px-8 md:pb-0 md:pt-[5px] lg:!hidden;
}
.navbar-mobile__body--closed {
  @apply absolute -right-[500px] bottom-0 top-0 flex w-full flex-col gap-5 px-4 pb-1 pt-2 transition-all delay-1000 md:w-[300px] md:px-8 md:pb-0 md:pt-[5px] lg:!hidden;
}

.navbar-mobile__links {
  @apply flex w-full flex-col gap-6 text-center text-black-1 lg:hidden;
}
.navbar-mobile__link {
  @apply w-full;
}
.navbar-mobile__socials {
  @apply flex flex-row items-center justify-center gap-2 lg:justify-start;
}

/* Hero Section  */

.hero__portrait {
  @apply z-10 flex aspect-square w-[80%] items-center justify-center overflow-hidden rounded-full shadow-lg brightness-125 md:w-[30%];
}

.hero__headline {
  @apply z-20 flex w-[90%] shrink-0 flex-col items-center justify-center gap-4 text-center md:w-[50%] md:items-start;
}

.hero__headline__buttons {
  @apply flex w-full items-center justify-center gap-4 md:justify-start;
}

.hero__squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(180, 0, 65, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.hero__squares li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.hero__squares li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.hero__squares li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.hero__squares li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.hero__squares li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.hero__squares li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.hero__squares li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.hero__squares li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.hero__squares li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.hero__squares li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Services Section  */
.services__background {
  @apply pointer-events-none absolute -z-0 opacity-50;
}

/* Service Cards Component */
.service-cards {
  @apply flex w-full flex-col flex-wrap items-center gap-2 md:flex-row md:gap-8;
}

/* Service Card Component */
.service-card {
  @apply hoverSmoothScale relative z-20 row-span-2 mb-4 flex w-full flex-col gap-2 overflow-hidden rounded-2xl bg-white p-6 shadow-lg hover:text-secondary-red hover:shadow-lg md:min-h-[280px] md:max-w-[230px];
}
.service-card__icon {
  @apply text-secondary-red;
}
.service-card__title {
  @apply text-left text-lg font-bold capitalize text-black group-hover:text-secondary-red first:group-hover:text-white md:whitespace-pre;
}
.service-card__description {
  @apply text-left text-xs font-medium normal-case text-neutral-800;
}
.service-card__shadow {
  @apply absolute -right-[150px] -top-[20px] z-10 aspect-square w-[180px] -rotate-45 bg-white opacity-20 brightness-75;
}

.service-card:first-child {
  @apply bg-secondary-red;
}
.service-card:first-child .service-card__icon {
  @apply text-white;
}
.service-card:first-child .service-card__title {
  @apply text-white;
}
.service-card:first-child .service-card__description {
  @apply text-white;
}
.service-card:first-child .service-card__shadow {
  @apply !bg-white !opacity-100 brightness-100;
}

/* About Me Section */
.about-details {
  @apply flex w-[90%] max-w-xl flex-col gap-4 md:order-1;
}
.about-portrait {
  @apply flex aspect-16/19 w-[300px] items-center justify-center overflow-hidden rounded-xl bg-secondary-red md:order-2 md:rotate-12;
}
.about-portrait__image {
  @apply aspect-square w-[450px] scale-[1.35] md:-rotate-12;
}
.about-description {
  @apply text-left text-base font-medium normal-case text-neutral-800 first:text-white;
}

/* Work Flow Section  */
.workflow {
  @apply flexCenter w-full flex-col;
}

/* Experience Section  */
.experience__heading {
  @apply w-[90%] !text-left md:w-full md:!text-center;
}
.experience__heading-subtitle {
  @apply sectionOverline !text-left md:!text-center;
}
.experience__heading-title {
  @apply sectionHeading !text-left md:!text-center;
}

.experience__timeline {
  @apply w-full;
}

/* Experience Card Section */
.experience-card {
  @apply relative overflow-hidden transition-all duration-500 ease-in-out hover:-translate-y-4;
}
.experience-card__icon {
  @apply flex aspect-square w-full;
}
.experience-card__title {
  @apply text-lg font-bold;
}
.experience-card__company {
  @apply text-xs font-bold uppercase text-secondary-red;
}
.experience-card__bullets {
  @apply ml-4 mt-4 list-disc;
}
.experience-card__date {
  @apply text-black;
}

/* Featured Projects Component */
.featured-projects {
  @apply flex w-full max-w-screen-xl flex-col gap-8 lg:!px-[100px];
}
.featured-projects__map {
  @apply grid w-full grid-cols-1 gap-12;
}

/* Featured Projects Card Component */
.featured-projects-card {
  @apply flex h-fit w-full flex-col items-center overflow-hidden rounded-2xl shadow-lg lg:flex-row lg:even:flex-row-reverse;
}

.featured-projects-card__images {
  @apply relative aspect-16/11 w-full overflow-hidden rounded-2xl shadow-lg;
}
.featured-projects-card__image-desktop {
  @apply w-full;
}
.featured-projects-card__image-mobile {
  @apply w-full;
}
.featured-projects-card__image-icon {
  @apply absolute bottom-3 left-3 text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
}

.featured-projects-card__details {
  @apply flex h-fit w-full flex-col gap-4 rounded-2xl p-4 lg:w-3/5;
}
.featured-projects-card__details-header {
  @apply flex flex-row justify-between;
}
.featured-projects-card__details-title {
  @apply block w-full text-left text-2xl font-bold capitalize;
}
.featured-projects-card__details-subtitle {
  @apply block w-full text-left text-xs font-bold uppercase text-secondary-red;
}
.featured-projects-card__details-description {
  @apply text-justify text-sm font-medium normal-case text-black lg:text-left;
}
.featured-projects-card__details-platforms {
  @apply flex flex-row items-center gap-3;
}
.featured-projects-card__details-tags {
  @apply line-clamp-3 flex h-full w-full flex-wrap gap-1;
}
.featured-projects-card__details-tag {
  @apply flex items-center justify-center rounded-full border border-solid border-slate-300 px-3 py-1 text-xs font-medium capitalize text-slate-600;
}
.featured-projects-card__details-links {
  @apply flex w-full flex-row flex-wrap items-center gap-4;
}
.featured-projects-card__details-link {
  @apply flex flex-row items-center justify-center gap-2 text-xs capitalize hover:text-secondary-red;
}

/* Other Projects Component */
.other-projects {
  @apply flex w-full max-w-screen-xl flex-col gap-8;
}
.other-projects__map {
  @apply grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3;
}

/* Other Projects Card Component */
.other-projects-card {
  @apply h-fit w-full overflow-hidden rounded-2xl shadow-lg;
}

.other-projects-card__images {
  @apply relative aspect-16/11 w-full overflow-hidden rounded-2xl;
}
.other-projects-card__image--desktop {
  @apply w-full;
}
.other-projects-card__image--mobile {
  @apply w-full;
}
.other-projects-card__image-icon {
  @apply absolute bottom-3 left-3 text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
}

.other-projects-card__details {
  @apply flex h-fit w-full flex-col gap-4 rounded-2xl p-4;
}
.other-projects-card__details-header {
  @apply flex flex-row justify-between;
}
.other-projects-card__details-title {
  @apply block w-full text-left text-2xl font-bold capitalize;
}
.other-projects-card__details-subtitle {
  @apply block w-full text-left text-xs font-bold uppercase text-secondary-red;
}
.other-projects-card__details-description {
  @apply text-justify text-sm font-medium normal-case text-black md:line-clamp-4 lg:text-left;
}
.other-projects-card__details-platforms {
  @apply flex flex-row items-center gap-3;
}
.other-projects-card__details-tags {
  @apply line-clamp-3 flex h-full w-full flex-wrap gap-1;
}
.other-projects-card__details-tag {
  @apply flex items-center justify-center rounded-full border border-solid border-slate-300 px-3 py-1 text-xs font-medium capitalize text-slate-600;
}
.other-projects-card__details-links {
  @apply flex w-full flex-row flex-wrap items-center gap-4;
}
.other-projects-card__details-link {
  @apply flex flex-row items-center justify-center gap-2 text-xs capitalize hover:text-secondary-red;
}
